*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(140deg,#88baeb, rgb(198, 156, 198));
    color: #fff;
    padding: 10px;
    
}

#resetButton{
    background-color: rgba(255, 255, 255, 0.4);;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    margin-left: 50vw;
    margin-top: 40vh;
    display: none;
}

.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}

.calculator h1{
    font-size: 60px;
}

.calculator h1 span{
    color: rgb(118, 113, 249);
}

.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
}

.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
}

.input-box button{
    background: rgb(165, 162, 254);
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight:500;
    color: #333;
    cursor: pointer;
}

.input-box button:hover{
    background: rgb(153, 150, 255);
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight:500;
    color: #333;
    cursor: pointer;
}

.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
    height: auto;

}

#result{
    font-size: 20px;
}

#result span{
    color: rgb(111, 48, 228);
}